:root {
    --color-first: #9980FA;
    --color-second: #70a1ff;
    --color-third: #FDA7DF;
    --color-forth: #12CBC4;
    --block-width: 450px;
    --block-height: 400px;
    --border-width: .900rem;
    --border-radius-outer: 8px;
    --border-radius-inner: calc(var(--border-radius-outer) / 2);
  
    box-sizing: border-box;
    
  }

  *{
    margin: 0px;
    padding: opx;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
    box-sizing: border-box;
  }
  
  body {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    /* color: #5e5e5e; */
   
    height: auto;
     /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  



/* div styles */



#soft-skills{
    float: left;
    color: #9980FA;
   
   margin-left: 50px;
   /* margin-right: auto; */
     position: relative;
    box-shadow: 1px 3px 20px 10px rgb(187, 164, 229);



}
#languages{
  float: right;
  color: #9980FA;
 
  margin-right: 40px;
  /* margin-left: auto; */
    position: relative;
    box-shadow: 1px 3px 20px 10px rgb(187, 164, 229);

    
}

#certificates
{
  float: left;
  color: #9980FA;
 
 margin-left: 50px;
 /* margin-right: auto; */
   position: relative;
  box-shadow: 1px 3px 20px 10px rgb(187, 164, 229);

}

.list-div{
  height: 100px;
  width: auto;
  position: relative center;
  margin: 0px;
  padding-top: 20px;
  display: inline;
}

.list-style{
  list-style: none;
  color: #9980FA;
  padding: 5px;
  font-size: 18px;
  position:  relative center;
  line-height: 25px;
  text-align: center;
  display: block;
}
  /* div border style */
  .rainbow {
    width: 100%;
    height: 100%;
    -webkit-animation: o-rotate-360 linear 8s infinite;
            animation: o-rotate-360 linear 8s infinite;
  }
  .rainbow span {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    transform: translate(-50%, -50%);
  }
  .rainbow span:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 100%;
  }
  .rainbow span:first-child {
    background: var(--color-first);
  }
  .rainbow span:first-child:after {
    background: var(--color-second);
  }
  .rainbow span:last-child {
    background: var(--color-third);
  }
  .rainbow span:last-child:after {
    background: var(--color-forth);
  }
  
  .c-subscribe-box {
    width: var(--block-width);
    height: var(--block-height);
    overflow: hidden;
    position: relative;
    box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
    border-radius: var(--border-radius-outer);
  }
  .c-subscribe-box__wrapper {
    width: calc(100% - var(--border-width));
    height: calc(100% - var(--border-width));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    
    padding: 1.2rem 1rem 1.8rem;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-inner);
  }
  .c-subscribe-box__title {
    color: #9980FA;
    font-size: 1.6rem;
  }
  .c-subscribe-box__desc {
    font-size: 0.935rem;
    margin: 0.7rem auto 1.8rem;
    max-width: 240px;
  }
 
  
  @keyframes o-rotate-360 {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
 /* ============================================================= */

  h3 {
    margin: 0;
    letter-spacing: -0.015em;
    font-family: var(--font-special);
    font-weight: normal;
    line-height: 1.4;
  }
  
  .u-align-center {
    text-align: center;
  }



  /* ///////////////////// */

  /* ========================= */
  /* LOGOS */
  h2{
    text-align:center;
    padding: 20px;
  
  }
  /* Slider */
  
  .slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
    height: 150px;
}
  
  .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
              user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }