/* UNIVERSAL SELECTORS */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

 /* background for homepage*/
 .color-change-5x {
  height: auto;
   -webkit-animation: color-change-5x 5s linear 2s infinite alternate both;
   animation: color-change-5x 5s linear 2s infinite alternate both;
 }

 @-webkit-keyframes color-change-5x {
   0% {
     background-image: linear-gradient(109.6deg, rgba(15, 2, 2, 1) 11.2%, rgba(36, 163, 190, 1) 91.1%);
   }

   25% {
     background-image: radial-gradient(circle farthest-corner at 16.5% 28.1%, rgba(15, 27, 49, 1) 0%, rgba(0, 112, 218, 1) 90%);
   }

   50% {
     background-image: linear-gradient(105.3deg, rgba(30, 39, 107, 1) 21.8%, rgba(77, 118, 221, 1) 100.2%);
   }

   75% {
     background-image: linear-gradient(109.6deg, rgba(0, 0, 0, 1) 11.2%, rgba(11, 132, 145, 1) 91.1%);
   }

   100% {
     background-image: linear-gradient(to right, #4b6cb7 0%, #182848 51%, #4b6cb7 100%);
   }
 }

 @keyframes color-change-5x {
   0% {
     background-image: linear-gradient(109.6deg, rgba(15, 2, 2, 1) 11.2%, rgba(36, 163, 190, 1) 91.1%);
   }

   25% {
     background-image: radial-gradient(circle farthest-corner at 16.5% 28.1%, rgba(15, 27, 49, 1) 0%, rgba(0, 112, 218, 1) 90%);
   }

   50% {
     background-image: linear-gradient(105.3deg, rgba(30, 39, 107, 1) 21.8%, rgba(77, 118, 221, 1) 100.2%);
   }

   75% {
     background: linear-gradient(to right, #000428, #004e92 100.2%);
   }

   100% {
     background-image: linear-gradient(to right, #000428 0%, #004e92 51%, #000428 100%);

   }
 }


 /* background for homepage ends*/

 /* =========================================================================== */

 /* logo style main*/

 .logoStyle {
   display: inline-block;
   position: absolute;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 50px;
   margin-right: 5px;
   font-size: 65px;
   line-height: inherit;
   white-space: nowrap;
   color: rgb(172, 213, 213);
   list-style: none;
   text-decoration: none;
   text-decoration: solid;
   font-family: "Sofia";
   filter: drop-shadow(0 0 10px rgb(245, 245, 245));
   animation: myAnim 2s ease 0s 5 normal forwards;
 }

 @keyframes myAnim {
   0% {
     opacity: 0;
     transform: translateX(-250px);
   }

   100% {
     opacity: 1;
     transform: translateX(0);
   }
 }

 /* ================================================================ */

 /* navbar style */

 .navBar {
   position: relative;
   padding: 6px;
   padding-bottom: 5px;
   list-style: none;
   float: right;
   display: flex;
   justify-self: end;


 }

 /* navbar item  style*/
 .navBoxItem {
   /* display: inline-block; */
   position: relative;
   float: right;
   text-decoration: none;
   list-style: none;
   padding-top: 50px;
 }

 nav ul li {
   float: right;
   right: 0;
   position: relative;
 }

 .navItem {
   float: right !important;
   list-style: none;
 }

 .navLink {
   font-size: 18px;
   color: rgb(172, 213, 213);
   list-style: none;
   text-decoration: none;
   float: right;
   /* text shadow background */
   filter: drop-shadow(0 0 10px rgb(166, 218, 242));
   padding-left: 10px;
   padding-right: 10px;


 }

 .navLink:hover {
   color: rgb(250, 254, 255);
   border-bottom: 3px solid;
   border-image: repeating-linear-gradient(30deg, #ffb87a, #ff85ad, #6b66ff 150px) 1;
   border-top: 3px solid;
 }

 .navbar-collapse {
   justify-content: flex-end;
 }

 /* ================================================================================================== */
 /* stays the same for all the pages */

 /* ================================================================================================== 
 ================================================================================================== */






 /* icon section */

 .icon-bar {
   width: 120px;
   height: 500px;
   overflow: auto;
   float: right;
   padding: 20px;
   position: relative;
   overflow: hidden;
   /* border: 2px solid #00d2d3; */

 }

 .icon-bar a {
   width: 30px;
   text-align: center;
   padding: 10px;
   transition: all 0.3s ease;
   color: white;
   font-size: 30px;
 }

 .icon-bar img:hover {
   background-color: #000;
 }


 .icon-style {
   height: 3rem;
   width: 3erm;
   border-radius: 50%;
   margin: 20px;


 }

 .navbar-toggler button{
  position: fixed;
  top: 0;
  right: 0;
 }

 #apple,
 #linkedin,
 #github,
 #facebook {
   font-size: 8em;
   background-color: #18191f;
   color: #fff;
   /* box-shadow: 0 10px 15px rgb(75, 238, 208);  */
   box-shadow: 1px 3px 20px 10px rgb(75, 238, 208);
   border-radius: 50%;
   /* padding: 11px 19px; */
   /* margin: 0 40px; */
   animation: animate 3s linear infinite;
   text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
     0 0 200px #0072ff;
 }

 #linkedin {
   animation-delay: 0.3s;
 }

 #facebook {
   animation-delay: 0.7s;
 }

 #github {
   animation-delay: 0.1s;
 }

 @keyframes animate {
   from {
     filter: hue-rotate(0deg);
   }

   to {
     filter: hue-rotate(360deg);
   }
 }



 /* header style */

 .header-div {
  height: 350px;

}



.pDiv {
  width: 100%;
  height: 400px;

}

 .images {
   height: 15rem;
   width: 15erm;
   margin: 1px;
   border: 10px solid transparent;
   box-shadow: 1px 3px 20px 10px rgb(75, 205, 238);

 }

 /* heading  */
 .hello {
   color: #4fc3f7;
   position: relative;
   font-family: 'Times New Roman';
   font-size: 60px;
   padding-left: 200px;
   padding-top: 10px;
   background: #199C6C;
   background: radial-gradient(circle farthest-corner at center center, #199C6C 0%, #45FFFF 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
/* text-align: center; */

 }


 .p1 {
   font-size: 40px;
   color: rgb(135, 208, 241);
   position: relative;
   padding-left: 250px;
   padding-top: 10px;
   font-family: Georgia;
   /* text-align: center; */

 }

 .p2 {
   font-size: 25px;
   color: rgb(246, 247, 255);
   position: relative center;
   text-align: left;
   display: inline-block;
   padding-left: 40px;
   padding-top: 15px;
   font-family: "lora-regular", serif;
   text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
   
 }
h3 {
    font-size: 30px;
    font-size: 18px;
    letter-spacing: 0.3em;
    font-family: "ROBOTO", sans-serif;
    font-weight: 400;

}

.p3 span{
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;

}

 /* button */

 .hire-btn {
   text-decoration: none;
   list-style: none;
   border: 0px;
   margin: 60px;
   padding: 15px 40px;
   font-size: 18px;
   border-radius: 8px;
   /* color: repeating-linear-gradient(30deg, #ffb87a, #ff85ad, #6b66ff 150px) 1; */
   font-family: 'Lato', sans-serif;
   font-weight: 500;
   color: gray;
   background: transparent;
   cursor: pointer;
   transition: all 0.3s ease;
   position: relative;
   left:80px;
   display: inline-block;
   box-shadow: 1px 3px 20px 10px rgb(158, 235, 221);
   outline: none;
 }

 .hire-btn a {
   text-decoration: none;
   list-style: none;
 }


 .btn-16 {
   border: none;
 }

 .btn-16:after {
   position: absolute;
   content: "";
   width: 0;
   height: 100%;
   top: 0;
   left: 0;
   direction: rtl;
   z-index: -1;
   box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
   transition: all 0.3s ease;
 }

 .btn-16:hover {
   color: #000428;
 }

 .btn-16:hover:after {
   left: auto;
   right: 0;
   width: 100%;
 }

 .btn-16:active {
   top: 2px;
 }




 /* about me section */
 #about {
   color: azure;
   float: inline-end;
   padding: 10px;
   position: relative bottom;
   display: block;
   height: 600px;
 }

 .h1 {

   text-align: center;
   font-family: "Sofia";
   font-size: 50px;
   font-weight: 700;
   color: #9bc6c4;
   text-shadow: 2px 2px 2px #000;
 }



 .about2 {

   position: relative right;
   display: inline;
   width: 60%;
   height: 170px;
   padding: 10px;
   margin: 5px;

 }


 .h3 {
   display: block;
   text-align: left;
   font-family: "Sofia";
   font-size: 30px;
   color: #31a6a2;
   text-decoration: underline;
   padding-bottom: 10px;

   line-height: 30px;
   background: #00C2B4;
   background: linear-gradient(to right, #00C2B4 0%, #D0D6D6 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;


 }

 .abtMe {
   width: auto;
   text-align: right;
   font-size: 20px;
   line-height: 30px;
   padding-left: 20px;
   font-family: 'Times New Roman', Times, serif;
   /* color: #9bc0b8; */
   background: #009E92;
   background: linear-gradient(to right, #009E92 0%, #D0D6D6 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }



 .interesting {
   text-align: center;
   position: relative;
   display: block;
   font-family: "Sofia";
   font-size: 30px;
   color: #a3afaf;
   text-decoration: underline;
   padding-bottom: 5px;
   padding-top: 10px;
   line-height: 30px;
 }

 /* paragliding image */
 .img-p {
   float: right;
   display: block;
   position: relative;
   width: 400px;
   height: 270px;
   margin-right: 40px;
   border: 8px solid transparent;
   box-shadow: 1px 3px 18px 10px #AFB4C5;

 }




 /* ----------------------------------------------------------------------------------------- */

/* flip images */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


.container{
    transform-style: preserve-3d;
}

.container .box{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 50px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.container .box .body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}



.container .box .body .imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    box-shadow: 1px 3px 18px 10px #AFB4C5;
}

.container .box .body .imgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .body .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 109.6deg,  rgba(255,179,189,1) 1.8%, rgba(254,248,154,1) 50.6%, rgba(161,224,186,1) 100.3% );
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.container .box:hover .body{
    transform: rotateY(180deg);
}

.container .box .body .content div{
    transform-style: preserve-3d;
    padding: 20px;
    background-color: #08AEEA;
background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

    transform: translateZ(100px);
}

.container .box .body .content div h3{
    letter-spacing: 1px;
}


 /* footer */



 /* h4 span style */
 h4.span {
   position: relative;
   /* display:block; */
   font-size: 18px;
   letter-spacing: 0.7em;
   font-family: "ROBOTO", sans-serif;
   font-weight: 400;
   color: #faebd7;
   z-index: 4;
   float: right;
   padding-right: 20px;
   padding-top: 25px;

 }

 .loader span {
   color: #faebd7;
   text-shadow: 0 0 0 #faebd7;
   -webkit-animation: loading 1s ease-in-out infinite alternate;

   /* transform: translate(280px 220px); */
 }

 @-webkit-keyframes loading {
   to {
     text-shadow: 20px 0 70px #ff0266;
     color: #ff0266;
   }
 }

 .loader span:nth-child(2) {
   -webkit-animation-delay: 0.1s;
 }

 .loader span:nth-child(3) {
   -webkit-animation-delay: 0.2s;
 }

 .loader span:nth-child(4) {
   -webkit-animation-delay: 0.3s;
 }

 .loader span:nth-child(5) {
   -webkit-animation-delay: 0.4s;
 }

 .loader span:nth-child(6) {
   -webkit-animation-delay: 0.5s;
 }

 .loader span:nth-child(7) {
   -webkit-animation-delay: 0.6s;
 }

 .loader span:nth-child(8) {
   -webkit-animation-delay: 0.7s;
 }

 .loader span:nth-child(9) {
   -webkit-animation-delay: 0.8s;
 }

 .loader span:nth-child(10) {
   -webkit-animation-delay: 0.9s;
 }

 .loader span:nth-child(11) {
   -webkit-animation-delay: 1s;
 }

 .loader span:nth-child(12) {
   -webkit-animation-delay: 1.1s;
 }

 .loader span:nth-child(13) {
   -webkit-animation-delay: 1.2s;
 }

 .loader span:nth-child(14) {
   -webkit-animation-delay: 1.3s;
 }

 .loader span:nth-child(15) {
   -webkit-animation-delay: 1.4s;
 }

 .loader span:nth-child(16) {
   -webkit-animation-delay: 1.5s;
 }

 .loader span:nth-child(17) {
   -webkit-animation-delay: 1.6s;
 }

 .loader span:nth-child(18) {
   -webkit-animation-delay: 1.7s;
 }

 .loader span:nth-child(19) {
   -webkit-animation-delay: 1.8s;
 }

 .loader span:nth-child(20) {
   -webkit-animation-delay: 1.9s;
 }

 .loader span:nth-child(21) {
   -webkit-animation-delay: 2s;
 }

 .loader span:nth-child(22) {
   -webkit-animation-delay: 2.1s;
 }






 .footer-text {
   float: left;
   font-size: 2rem;
   background: -webkit-linear-gradient(120deg,
       var(--primary-color-alt),
       var(--primary-color));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

 }

 .heart {
   height: 2rem;
   width: 2erm;
   background-color: transparent;
   border-radius: 50%;


 }

 .up-btn {
   /* float:left; */
   /* padding-left: 0px; */
   height: 3rem;
   width: 3erm;
   border-radius: 50%;
   margin: 30px;


 }

 .footer-div {
   height: 100px;
   /* margin: 20px; */
   width: 100%;

 }

 /* footer wave  */
 .waves {
   position: relative;
   width: 100%;
   height: 300px;
   margin-bottom: -7px;
   /*Fix for safari gap*/
   min-height: 100px;
   max-height: 150px;
 }

 /* Animation */

 .parallax>use {
   animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
 }

 .parallax>use:nth-child(1) {
   animation-delay: -2s;
   animation-duration: 7s;
 }

 .parallax>use:nth-child(2) {
   animation-delay: -3s;
   animation-duration: 10s;
 }

 .parallax>use:nth-child(3) {
   animation-delay: -4s;
   animation-duration: 13s;
 }

 .parallax>use:nth-child(4) {
   animation-delay: -5s;
   animation-duration: 20s;
 }

 @keyframes move-forever {
   0% {
     transform: translate3d(-90px, 0, 0);
   }

   100% {
     transform: translate3d(85px, 0, 0);
   }
 }



/* ================================================================== */

/* MEDIA QUERY */
/* @include media-breakpoint-up(sm) { 
  .img{
small
  }
 } */
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }
@include media-breakpoint-up(xxl) { ... }